﻿/*Ссылка*/
A{text-decoration:none;}
A:visited{color:#007A00;}
A:link{color:#007A00;}

/*ссылка на метод внутри страницы*/
A.method_name{text-decoration:none;}
A.method_name:visited{color:#000000;}
A.method_name:link{color:#000000;}

/*Тело страницы*/
BODY{margin:5mm;font-family:Courier New; font-size:12pt;}

/*Заголовок 1*/
H1{font-size:18pt;text-align:left;}

/*Заголовок 2*/
H2{font-size:16pt;text-align:left;}

/*Заголовок 3*/
H3{font-size:14pt;text-align:left;}

/*текст выровненный по ширине с красной строкой*/
#text{text-align:justify; text-indent:20px;}

/*Цитата*/
#quote{font-style:italic;}

/*Атрибут, свойство класса, модуля*/
#attr{font-weight:bold;}

/*Фрагмент кода*/
#code{font-size:10pt; white-space:pre}

/*Зарезервированные слова языка*/
#res{font-weight:bold;}

/*Имя переменной в объявлении*/
#variable{font-style:italic;}

/*Комментарии в коде*/
#comment{font-style:italic;}

/*Заголовок таблицы*/
#table_title{font-weight:bold;}

/*Таблица заголовка описания члена класса*/
table.member_desc{width:100%;border-spacing:0;background:darkgray;}
table.member_desc td{width:50%;vertical-align:top;}
td.rightcol{text-align:right;}

/*Таблица вывода списка членов класса*/
table.member_list{border-spacing:0;background:darkgray;border:2px solid black;border-collapse:collapse;}
table.member_list th{padding:5px;border:1px solid black;}
table.member_list td{padding:5px;border:1px solid black;}

/*Таблица допустимых значений*/
table.value_list{border-spacing:0;background:darkgray;}

/*Обычная таблица*/
table.simple{border-spacing:0;background:darkgray;border:2px solid black;}
table.simple th{padding:5px;border:1px solid black;}
table.simple td{padding:5px;border:1px solid black;}
